<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaApiToken</key>
	<string>FqicLlYykdimMML7pj65Gi8IHl8EVReWMJh6rLDcTjTMqdb5ay_xFA..</string>
	<key>mediaApiBaseUrl</key>
	<string>http://api.brightcove.com/services/library</string>
	<key>iosPlaylistReferenceId</key>
	<string>ios_videos</string>
</dict>
</plist>
